{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "plugins": ["react", "jsx-a11y", "import", "prettier"],
  "rules": {
    "react/jsx-one-expression-per-line": 0,
    "react/destructuring-assignment": 0,
    "arrow-parens": 0,
    "implicit-arrow-linebreak": 0,
    "object-curly-newline": 0,
    "semi-style": 0,
    "semi": 0
  }
}