.posts__component {
  height: 100vh;
  overflow: hidden;
}

.filter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 1rem;
  background: lighten($tertiary, 5);
  border-bottom: 1px solid lightgrey;
}

.filter__difficulty,
.filter__price {
  height: 35px;
  width: 300px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid lightgray;
}

.filter__difficulty__option,
.filter__price__option {
  text-align: center;
  padding: 0.5rem;
  border-right: 1px solid lightgrey;
  background: $background;
  font-family: 'Akkurat Pro Mono';
  cursor: pointer;
  user-select: none;
  transition: all 0.25s;
  &:last-child {
    border-right: 0;
  }
  &:hover {
    background: darken(#f4e0ff, 5);
  }
}

.filter__orderBy {
  height: 35px;
  width: 300px;
  padding: 0.5rem;
  font-family: 'Akkurat Pro Mono';
  & > * {
    font-family: 'Akkurat Pro Mono';
  }
}

.posts {
  height: 75vh;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 1rem 5rem;
  overflow-y: auto;
}

.posts__message {
  & > p > span {
    font-size: 1.25rem;
    font-weight: bold;
    color: darkmagenta;
  }
}

.posts__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 50px;
  justify-items: center;
  align-items: center;
  padding: 1rem 2rem;
}

.post {
  display: grid;
  justify-items: center;
  img {
    border: 1px solid $tertiary;
  }
}

.post__title {
  font-family: 'Akkurat Pro Bold';
  font-size: 2rem;
  text-align: center;
}
