.post__component {
  height: 100vh;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  background-color: $tertiary;
  text-decoration: none;
  // justify-items: center;
}

.post__href {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 10%;
}

.post__image {
  grid-column: 1;
  margin-left: 4rem;
  border: 1px solid $tertiary;

  img {
    height: 300px;
    width: 300px;
  }
}

.post__detail {
  grid-column: 2;
}

.post__title {
  display: block;
  align-self: center;
  font-family: 'Akkurat Pro Bold';
  text-decoration: none;
  font-size: 2rem;
}

.post__tags {
  display: flex;

  &>* {
    padding: .25rem;
    margin-right: .5rem;
    background: lightpink;
  }
}